html
{
    height:100%;
}

body
{
    margin:0;
    padding:0;
    color:#000;
    font-size:0.8em;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    cursor:default;
    background-color:#047; /* #795, #9B7 might be interesting */
}

h1
{
    font-size:2em;
    text-align:center;
}

h2
{
    font-size:1.5em;
    text-align:center;
}

.topRight
{
    position:absolute;
    top:5px;
    margin-right:50%;
    right:-400px;
}

.top
{
    position:absolute;
    top:200px;
}

.left
{
    position:absolute;
    top:190px;
    margin-left:50%;
    left:-400px;
    text-align:left;
}

#rightPage
{
    border-left:3px solid;
    border-right:3px solid;
    border-radius:20px;
    z-index:-1;
}

.right
{
    position:absolute;
    top:90px;
    margin-left:50%;
    left:-190px;
    width:590px;
    bottom:10px;
}

.page
{
    position:fixed;
    text-align:center;
    top:0px;
    margin-left:50%;
    left:-410px;
    width:820px;
    height:100%;
    background-color:#CCD9E3;
    z-index:-2;
}

.logo
{
    position:absolute;
    top:10px;
    margin-left:50%;
    left:-410px;
}

div#message
{
    text-align:center;
    color:#FFF;
    display:none;
    position:absolute;
    top:45px;
    width:500px;
    margin-left:50%;
    left:-145px;
    padding:10px;
    border-radius:5px;
    z-index:1;
}

.errorMessage
{
    background-color:#C00;
    box-shadow:0 0 3px 3px #C00;
}

.successMessage
{
    background-color:#062;
    box-shadow:0 0 3px 3px #062;
}

ul
{
    list-style-type:square;
}

li
{
    font-variant:small-caps;
    font-size:1.4em;
}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

.leaderboardList
{
    text-align:left;
    padding-left:10px;
    padding-right:10px;
    line-height:2em;
}
